*{
    box-sizing: border-box;
    font-family: sans-serif
}
body{
    margin: 0;
    overflow: scroll;
    padding-bottom: 100px;
}
p{
    margin: 2em;
    display: inline-block;
    line-height: 26px;
    font-size: large;
}
.head-title{
    padding-top: 1em;
    padding-left: 0.5em;
    float: left;
    display: block;
    padding-right: 0.5em;
    height: 6em;
    width:100%;
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 600% 100%;
    animation: title-head 20s ease infinite;
}
@keyframes title-head {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.h-btn{
    padding: 30px;
    margin: 10px;
    width: 20%;
    font-weight: 600;
    display: inline-block;
    background: white;
    color: Black;
    text-align: center;
    text-decoration:none;
    border-radius: 5%;
    font-size: 90%;
    text-transform: uppercase;
    transition: 1s;
}
.h-btn:hover{
    background: linear-gradient(-75deg, rgb(253, 122, 242), rgb(228, 140, 255));
    color: white;
    transition: 0.5s;
    border-radius: 25px;
}
.footer-box{
    background: white;
    position: fixed;
    float: left;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    border-top: 0.3em solid purple;
}
.foot-links{
    display: inline-block;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: 600;
    margin: 0.5em;
    transition: 1s;
}
.github{
    color: black;
    text-decoration: none;
}
.git{
    padding: 0;
    margin-right: 0;
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
}
.hub{
    padding: 0;
    margin-left: 0;
    transition: 0.5s;
    display: inline-block;
    text-decoration: none;
}
.github:hover .git{
    color: black;
    background: white;
    padding-left: 0.25em;
    padding-right: 0.25em;
    transition: 0.5s;
}
.github:hover .hub{
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px; 
    color: white;
    background: black;
    padding-left: 0.25em;
    padding-right: 0.25em;
    transition: 0.5s;
}
.opencode{
    display:inline-block;
    color: black;
    text-decoration: none;
}
.opencode-c, .opencode-d, .opencode-e, .opencode-o{
    display: inline-block;
    padding: 0;
    margin: 0;
    transition: 0.5s;
    
}

.opencode:hover{
    transform: rotateX(360deg);
}
.opencode:hover .opencode-c{
    color: purple;
    transition: 0.5s;
}
.opencode:hover .opencode-o{
    color: rgb(126, 35, 126);
    transition: 0.5s;
}
.opencode:hover .opencode-d{
    color: rgb(129, 52, 129);
    transition: 0.5s;
}
.opencode:hover .opencode-e{
    color: rgb(128, 92, 128);
    transition: 0.5s;
}
.gmail{
    text-decoration: none;
    color: black;
}
.gmail:hover{
    transition: 0.5s;
    transform: rotateZ(360deg);
}
.gmail-a, .gmail-g, .gmail-m, .gmail-i, .gmail-l{
    display: inline-block;
}
.gmail:hover .gmail-g{
    color: blue;
}
.gmail:hover .gmail-m{
    color: red;
}
.gmail:hover .gmail-a{
    color: rgb(255, 187, 0);
}
.gmail:hover .gmail-i{
    color: green;
}
.gmail:hover .gmail-l{
    color: blue;
}

@media only screen and (max-width: 1080px){
    .h-btn{
        font-size: 80%;
    }
}
@media only screen and (max-width: 927px){
    .h-btn{
        font-size: 70%;
    }
}
@media only screen and (max-width: 878px){
    .h-btn{
        font-size: 60%;
    }
}
@media only screen and (max-width: 730px){
    .head-title{
        height: 8em;
    }
    .h-btn{
        width: 40%;
        font-size: 0.7em;
    }
    .foot-links{
        padding-right: 4%;
        padding-left: 4%;
    }
}
@media only screen and (max-width: 456px){
    body{
        padding-bottom: 130px;
    }
    .h-btn{
        font-size: 40%;
    }
}

@media only screen and (max-width: 277px){
    .h-btn{
        width: 30%;
    }
}
@media only screen and (max-width: 238px){
    body{
        padding-bottom: 200px;
    }
}